 
@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');
 
nav {
    display: flex;
    background-color: antiquewhite;
    align-items: center;
     
    height: 50px;
    
    display: flex;
    justify-content: space-between;
     
    padding: 0 20px;
}

body {
    padding: 350px;
    padding-top: 0;
    padding-bottom: 0;
     
}

img {
    width: 600px;
    border-radius: 10px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
footer a{
    font-size: 50px;
}
div{
    height: 800px;
}
h1, h2, p, a{
    font-family: 'Rajdhani', sans-serif;
}
p{
    font-size: 20px;
}
 
 