nav {
    display: flex;
     
     
    width: 100%;
    height: 50px;
    
    display: flex;
    justify-content: space-between;
     
    padding: 0 20px;
}

body {
    padding: 350px;
    padding-top: 0;
}

img {
    width: 600px;
    border-radius: 10px;
}